// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

//#3b3f42
$v-luminance-threshold: 180 !default;

$editor-background-color: #3b3f42 !default;
$valo-menu-background-color: $editor-background-color !default;

$v-focus-color: rgb(96, 160, 234) !default;
$v-error-indicator-color: #eb2977 !default;
$v-friendly-color: rgb(54, 185, 85);

$v-font-size: 15px !default;
$v-font-weight: 400 !default;
$v-unit-size: 32px !default;

$login-info-width: 300px !default;
$login-info-opacity: 0.7 !default;
$login-background-color: $editor-background-color !default;
//  background image taken from unsplash.com (remember to optimize the filesize)
$login-background-image: "img/archetype-login-bg.jpg" !default;

$editor-shadow: 0 0 10px 10px rgba(0, 0, 0, .1) !default;
$editor-embed-background-color: darken($editor-background-color, 5%) !default;
$editor-raised-background-color: lighten($editor-background-color, 10%) !default;
$editor-caption-font-color: valo-font-color($editor-background-color, 0.5) !default;

$v-layout-margin-top: round($v-unit-size / 1.5) !default;
$v-layout-margin-right: $v-layout-margin-top !default;
$v-layout-margin-bottom: $v-layout-margin-top !default;
$v-layout-margin-left: $v-layout-margin-top !default;
$v-layout-spacing-vertical: round($v-unit-size / 1.8) !default;
$v-layout-spacing-horizontal: round($v-unit-size / 1.8) !default;

@import "../valo/valo.scss";
@import "views/registerview";
@import "views/scheduleview";
@import "views/contactsview";
@import "views/categoriesview";
@import "views/profileview";
@import "views/custom_calendar";
@import "addons";
@import "modal_windows/set_participants";

@mixin main_theme {
  @include valo;
  @include register-view;
  @include schedule-view;
  @include contacts-view;
  @include categories-view;
  @include profile-view;
  @include meetings_calendar;
  @include addons;
  @include set-participants-window;
  // login screen - for small screens, see below
  .login-screen {
    // background: $editor-background-color;

    //background: #1e5799; /* Old browsers */

    @if $login-background-image {
      background-image: url(#{$login-background-image});
      background-size: cover;
      background-position: 50% 50%;
    }

    width: 100%;
    height: 100%;

    .login-form {
      @include valo-panel-style;
      border: none;
      padding: $v-layout-margin;
      @include valo-animate-in-fade($duration: 1s);
      background-color: rgba(7, 55, 99, 0.5);
      border: 1px solid black;

    }

    .centering-layout {
      display: inline-block;
      width: 100%;
      height: 100%;

      .v-slot {
        height: 100%;
      }
    }
  }

  // Move logout button to the bottom of the menu on large screens
  .v-ui[width-range~="801px-"] .valo-menu-part {
    .user-menu {
      position: fixed;
      bottom: 0;
      margin-bottom: 0;
    }
  }

  // Style rules for smaller display sizes

  // login screen layout changes
  .v-ui[width-range~="0-800px"] {

    // More compact login screen
    .login-screen {
      height: auto;
      min-height: 100%;

      .centering-layout {
        display: block;
        width: 100%;
        height: auto;
        padding-left: 0;
        padding-top: 60px;
        padding-bottom: 60px;
      }

      .login-form {
        width: 400px;
        max-width: 100%;

        table {
          width: 100%;
        }

        .v-textfield {
          width: 100% !important;
        }

        .v-formlayout-captioncell,
        .v-formlayout-contentcell,
        .v-formlayout-errorcell {
          display: block;
          text-align: center;
          padding-top: 0;
        }
        .buttons {
          width: 100%;
          .v-button {
            display: block;
            text-align: center;
          }
        }
      }
    }
  }

  //  should take whole browser width when we are under 550px in width.
  .v-ui[width-range~="0-550px"] {

    // Remove margins around the grid and reduce top bar margins on small screens
    .crud-view .crud-main-layout {
      padding: 0 0 0 0;

      .top-bar {
        // Use spacing to the grid below as the margin - smaller than default margin
        padding: $v-layout-spacing-vertical $v-layout-spacing-horizontal 0 $v-layout-spacing-horizontal;

        .filter-textfield {
          width: 100%;
        }
      }
    }

  }

  // Override valo default narrow menu button on small screens to have the full logout text visible
  .v-ui[width-range~="0-500px"] {
    .valo-menu .v-menubar-user-menu .v-menubar-menuitem-caption {
      width: auto;
    }
  }

  .align-right {
    text-align: right;
  }

  .background {
    overflow: auto;
    background-color: chartreuse;
  }

  .headerText {
    //word-wrap: break-word;
    //white-space: -moz-pre-wrap;
    //text-align: center;
    //align-content: center;
    //vertical-align: middle;
    color: white;
    font-size: large;
    font-weight: bold;

  }

  .coloredBorder {
    border: 0.1em solid #333739;
  }

  .bottom-border-solid {
    //border-style: solid;
    border-bottom: 5px solid #333739;
  }

  .overflow-auto {
    overflow: auto;
  }

  .head-title {

    display: block;
    background: $editor-background-color;
    .v-widget {
      text-align: center;
    }

    .v-label {
      //font-family: "MuseoSans_xFat";
      //font-size: 26px;
      color: white;
      // background-color: #60a0ea;
      width: 30px;

    }
  }

  .selectConditions {
    margin: 2em;
    padding: 1em;
    text-align: center;
    align-content: center;
    .v-widget {
      text-align: center
    }
  }

  .condition {
    position: relative;
    padding: 2em;
    margin-left: 10px;
    border-top: 0.1em solid $editor-background-color;
    //border-bottom: em solid $editor-background-color;

    .v-label {
      font-family: "MuseoSans_xFat";
      font-size: x-large;
    }

  }

  .selectLayout {
    text-align: center;
    align-content: center;
    overflow: auto;
  }

  .boxMarginLeft {
    left: 20%;
  }

  .v-label-eventStyle {
    font-size: 24px;
    //color: white;
  }

  .createEventHeader {
    background-color: #60a0ea;
    background-image: linear-gradient(to bottom, #67a7eb 2%, #5491de 98%);
    border-bottom: 1px solid #4b7eb8;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
    color: white;
    font-size: 14px;
    line-height: 1.2;
    padding: 11px 16px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05);
  }

  .v-window-subWindowsStyle .v-window-outerheader {
    background: white;
  }

  .v-window-subWindowsStyle .v-window-header {
    color: black;
  }

  .category {
    cursor: pointer;
    background-color: #60a0ea;
    margin: 2em;
    padding: 1em;
    text-align: center;
    align-content: center;
    .v-label {
      color: white;
      text-align: center;
    }

  }
  .generalCategory {
    cursor: pointer;
    background-color: grey;
    margin: 2em;
    padding: 1em;
    text-align: center;
    align-content: center;
    .v-label {
      color: white;
      text-align: center;
    }

  }
  .categoriesWrapper {

    overflow: auto;

    border-color: #474747;
    border-bottom-style: solid;
  }

  .general-background-color-grey {
    background-color: #eceae5;
  }
  .general-background-color-white {
    background-color: white;;
  }

  .float-left {
    float: left;
  }

  .float-right {
    float: right;
  }

  .timefield {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  .solid-border-grey {
    border: 1px solid #d5d5d5;

  }

  .bigger-caption {
    font-size: 18px;
    margin-top: 10px;
  }

  .onoffswitch-slider.on {
    background-color: #40b527;
    border-color: #40b527;
  }

  .onoffswitch-slider.on:before {
    border-color: #40b527;
  }

  .h-popupextension {
    padding:0px;
  }
  .label-margin-top {
    margin-top: 60px;
  }

}
