@mixin handle-invitations-window {

  .invitation-item-layout {
      font-size :13px;
    min-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: rgba(43, 120, 228, 0.2);
    color: #2b78e4;
  }

  .invitations-window-header {
    font-size: 20px;
    background: #2b78e4;
    color: white;
    text-align: center;
    padding-top: 5px;
   // padding-right: 530px;
   // padding-left: 100px;


  }



  .grey-button {
    border: solid 1px black;
    // background-color: #cf2a27;
    background-color: grey;
    color: white;
    font-size: 15px;
  }

}