@mixin categories-view {

  .addcategory-header {
    padding-top: 7px;
    padding-left: 20px;
    background-color: #009e0f;
    border-bottom: 1px solid black;
    color: white;
  }

  .assign-category-header {
    font-size: 25px;
    color: #2b78e4;
  }

  .active-letter {
    font-size: 20px;
    color: #2b78e4;
    cursor: pointer;
  }

  .passive-letter {
    font-size: 10px
  }

  .active-header {
    font-size: 15px;
    color: #2b78e4;
    cursor: pointer;
    margin-left: 10px;

  }

  .passive-header {
    font-size: 15px;
  }

  .categories-strip {
    margin-left: 3px;
    margin-bottom: 5px;
  }

  .currently-selected {
    text-decoration:underline;
  }

}