@mixin contacts-view {

  .synccontacts-header {
    background-color: #2b78e4;
    color: white;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 2px solid black;
    padding-left: 20px;
    padding-top: 7px;




  }

  .managecontacts-header {
    background-color: #2b78e4;
    color: white;
    padding-top: 7px;
    padding-left: 20px;
  }

  .v-label-headerLabel {
    font-size: 24px;
    line-height: normal;
    color: white;


  }

  .synccontacts-itembox{
      background-color: #999999;
      border: 2px solid black;
    padding-left: 10px;
    padding-right: 10px;
  }

  .main-theme-red .v-button {
    background-color: #cf2a27;
    color: white;
    margin: 1px;

    border: 1px solid black;
  }

  .red-button {
    margin: 15px;
    padding: 5px;
    background: red;
    color: white;
    font-size: 13px;

  }

  .blue-button {

    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 20px;
    padding-right: 20px;
    background: #2b78e4;
    color: white;
    font-size: 13px;
    border-radius: 25px;
    border: 1px solid black;
    cursor: pointer;
    text-align: center;

  }

  .blue-label {
    font-size: 20px;
    font-weight: bold;
    color: #2b78e4;
  }

  .green-button {
    margin: 15px;
    background: green;
    color: white;
    font-size: 13px;
  }

  .disable-grid-cell-select {
    .v-grid-cell-focused:before {
      display: none !important;
    }
  }

  .addcontact-header {
    padding-top: 7px;
    padding-left: 20px;
    background-color: #009e0f;
    color: white;
  }

  .v-caption-inline {
    display: inline !important;
  }


}