@mixin profile-view {

  .info-block {
    background: #eeeeee;
    border: 1px solid #dddddd;
  }

  .image-layout {
    margin-top: 91px;
  }

  .username-header {
    background-color: #60a0ea;
    color: white;
    border-top: 1px solid  #60a0ea;
    border-bottom: 1px solid  #60a0ea;
    font-size: 30px;
    padding-left: 66px;

  }
  .profile-layout {
    border-bottom: 1px solid  #60a0ea;
    border-left: 1px solid  #60a0ea;
    border-right: 1px solid  #60a0ea;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

  }

}