@mixin schedule-view {


.solid-border {
  border: solid 1px black;

}

  .right-menu-style {
   background-color: #741b47;
   border: solid 1px black;
   text-align: center;
   color: white;

 }
  .left-menu-style {
    background-color: #2b78e4;
    border: solid 1px black;
    text-align: center;
    color: white;

  }

  .nav-top-active {
    background-color: #2b78e4;
    border: 1px solid black;
    color: white;
    text-align: center;
  }
  .nav-top-inactive {
    background-color: white;
    border: 1px solid black;
    color: black;
    text-align: center;
  }

  .nav-top-passed {
    background-color: rgba(43, 120, 228, 0.2);
    border: 1px solid black;
    color: black;
    text-align: center;
  }

  .test {
    display: inline-block;
    margin-bottom: 10%;
    margin-top: 10%;
  }

  .item-box {
    background-color: rgba(0, 158, 15, 0.2);
    color: blue;
    text-align: center;
    border: 1px solid black;
    vertical-align: middle;
   //align-items: center;

  }

  .v-button .back-button {
    background-color: #ffd966;
    color: black;
  }

  .tile-left {
    background-color: #2b78e4;
    border: solid 1px black;
    text-align: center;
    color: white;


  }

  .tile-icon-font {
    font-family: 'EntypoRegular';
    font-size: 8em;
  }

  .right-tile {
    background-color: #741b47;
    border: solid 1px black;
    text-align: center;
    color: white;
  }

  .modal-window-header {
    background-color: #2b78e4;
    color: white;

  }


}