@mixin schedule-view {


.solid-border {
  border: solid 1px black;

}

  .right-menu-style {
   background-color: #741b47;
   border: solid 1px black;
   text-align: center;
   color: white;
    font-size: large;

 }
  .left-menu-style {
    background-color: #2b78e4;
    border: solid 1px black;
    text-align: center;
    color: white;

  }

  .nav-top-active {
    background-color: #2b78e4;
    border: 1px solid black;
    color: white;
    text-align: center;
  }
  .nav-top-inactive {
    background-color: white;
    border: 1px solid black;
    color: black;
    text-align: center;
  }


}